.ejercicio1{
    color: red;
    background-color: yellow;
}

.ejercicio2_1{
    color: red;
    background-color: yellow;
}
.ejercicio2_2{
    color: red;
    background-color:rgb(149, 2, 2);
}
.ejercicio2_3{
    color: red;
    background-color: blue;
}

.ejercicio3_1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.ejercicio3_2{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.ejercicio4_1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.ejercicio4_2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.ejercicio4_3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
}
.ejercicio4_4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.ejercicio4_5{
    font-family: 'Arial ';
    font-size: 15px;
}
.ejercicio4_6{
    font-family: 'Arial ';
    font-size: 10px;
}
