.principal {
  margin-left: 4em;
  margin-right: 5em;
  width: 90%;
  display: block;
  background: #dfe7f6;
  
}
.con_marco {
  display: inline-block;
  border: 2px;
  border-style: dashed;
  border-color: red;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 30px;
  align-items: center;
  margin: 1em;
  
}
h1{
    display: inline;
    
    color: green;
}
h3{
    margin-top: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
hr{
    border-color: blue;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
   
}
img{
    width: 200px;
    height: 130px;
    margin-left: 2em;
}
table{
    border: 2px solid;
    
    border-color: blue;
    width: 600px;
    height: 300px;
    
  }
  td,tr{
    border: 1px solid;
    border-color: red;
    text-align: center;
    width: 33%;
    height: 25%;
    
  }
th{
    text-align: center;
    font-size: larger;

}
ol{
    list-style-type: upper-roman;
}
.cuadrados{
    list-style-type: square;
}
.discos{
    list-style-type: circle;
}
  
  