.contenedor_principal{
    width:100%;
    display: block !important;
    }
    .con_marco{
    display: inline-block; /* Aquí está la clave para los bloques */
    border: 1px;
    border-style: solid;
    text-align: center;
    width:200px;
    padding: 15px;
    }
    .flota_izquierda{
    float:left;
    }
    .flota_derecha{
    float:right;
    }