.list1{
    list-style-type: none;
}

.list2{
    list-style-type: circle;
}
.list3{
    list-style-type: disc;
}
.list4{
    list-style-type: square;
}
.list5{
    list-style-type: decimal;
    
}
.list6{
    list-style-type: lower-roman;
}
.list7{
    list-style-type: upper-roman;
}
.list8{
    list-style-type: lower-alpha;
}
.list9{
    list-style-type: upper-alpha;
}